anyio==3.5.0
asgiref==3.4.1
bleach==4.1.0
bson==0.5.10
certifi==2021.10.8
click==8.0.3
elasticsearch==7.16.2
elasticsearch-dsl==7.4.0
fastapi==0.71.0
h11==0.12.0
httptools==0.3.0
idna==3.3
motor==2.5.1
packaging==21.3
pydantic==1.9.0
pyelasticsearch==1.4.1
pymongo==3.12.3
pyparsing==3.0.6
python-dateutil==2.8.2
python-dotenv==0.19.2
PyYAML==6.0
simplejson==3.17.6
six==1.16.0
sniffio==1.2.0
starlette==0.17.1
typing_extensions==4.0.1
urllib3==1.26.8
uvicorn==0.16.0
uvloop==0.16.0
watchgod==0.7
webencodings==0.5.1
websockets==10.1
